* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    height: 100vh; /* 전체 화면 높이 */
}

.todo-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    text-align: center;
}

.todo-container__header {
    font-size: 18px;
    margin-bottom: 20px;
}

.todo-container__form {
    display: flex;
    gap: 10px;
}

.todo-container__input {
    flex: 1;
    padding: 8px;
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid lightgray;
}

.todo-container__button {
    background-color: #008000;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    padding: 8px 12px;
}

.render-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.render-container__title {
    font-size: 20px;
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    justify-content: center;
}

.render-container__section {
    width: 100%; /* 이걸로 위치 */
    text-align: left;
}

.render-container__list {
    list-style: none; /* 리스트 번호 안 매기게 */
}

.render-container__item {
    display: flex;
    padding: 8px;
    border-radius: 5px;
    font-size: 12px;
    background-color: #efeaea;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-size: 15px;
    margin-bottom: 8px;
}

.render-container__item-text {
    flex: 1;
}

.render-container__item-button {
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    padding: 6px 10px;
}